@model The_Book_Cave.Models.ViewModels.ProfileViewModel 

<h1>Mínar síður</h1>

<div class="detail-main">
    <div class="detail-image">
        <img src="@Model.Image" alt="Myndin mín">
    </div>
    <div class="detail-info">
        <p><h4>Nafn:</h4> @Model.FirstName @Model.LastName</p>
        <p><h4>Heimilisfang:</h4> @Model.Address</p>
        <p><h4>Uppáhalds bók:</h4> @Model.FavoriteBook</p>
        <a asp-controller="Account" asp-action="EditProfile">Uppfæra persónuuppýsingar</a>
    </div>
</div>

    <div class="OrderHistory"> 
        <h2>Pantanir</h2>
        <table class="table table-hover table-striped table-bordered">
            <tr>
                <th>Mynd</th>
                <th>Bókatitill</th>
                <th>Eintök pönntuð</th>
                <th>Pöntunardagur</th>
                <th>Sendingarheimilisfang</th>
            </tr>
            @foreach(var item in ViewBag.OrderList)
            {
                <tr class="OHItem">
                    <td><img src="@item.BookImage" alt="@item.BookTitle"></td>
                    <td>@item.BookTitle</td>
                    <td>@item.Quantity stk.</td>
                    <td >@item.DateCreated</td>
                    <td>@item.Address, @item.City, @item.ZipCode, @item.Country</td>
                </tr>
            }
        </table>
    </div>


