@model dynamic

<div>
    <h2>Review</h2>
        <table class="table table-striped table-hover">
            <tr>
                <th>Name</th>
                <td>@Model.User.Name</td>
            </tr>
            <tr>
                <th>Adress</th>
                <td>@Model.User.StreetName @Model.User.HouseNumber 
                    </br>
                    @Model.User.ZipCode @Model.User.City
                    </br>
                    @Model.User.Country
                </td>
            </tr>
            <tr>
                <th>Subtotal</th>
                <th>$@Model.cartItems.CartTotal</th>
            </tr>
        </table>
        <a class="btn btn-default" asp-controller="ShoppingCart" asp-action="ConfirmationStep">Confirm</a>
        <a class="btn btn-default" asp-controller="ShoppingCart" asp-action="Checkout" asp-route-email="@Model.User.Email">Edit</a>
</div>