@model The_Book_Cave.Models.ViewModels.OrderViewModel

<div>
    <h2>Yfirlit</h2>
        <table class="table table-striped table-hover">
            <tr>
                <th>Heimilisfang</th>
                <td>@Model.Address</td>
            </tr>
            <tr>
                <th>Borg</th>
                <td>@Model.City</td>
            </tr>
            <tr>
                <th>Land</th>
                <td>@Model.Country</td>
            </tr>
            <tr>
                <th>Póstnúmer</th>
                <td>@Model.ZipCode</td>
            </tr>
            <tr>
                <th>Verð samtals: </th>
                <td>@ViewBag.CartTotal kr</td>
            </tr>
        </table>
        <a class="btn btn-default" asp-controller="ShoppingCart" asp-action="ConfirmationStep">Staðfesta</a>
        <a class="btn btn-default" asp-controller="ShoppingCart" asp-action="Checkout">Breyta</a>
</div>