
<div id="slideshow">
   <div>
       <img src="~/images/banner1.png" alt="banner1">
   </div>
   <div>
        <a href="http://www.ikea.is">
            <img src="~/images/banner2.png" alt="banner1">
        </a>
   </div>
   <div>
        <img src="~/images/banner3.png" alt="banner1">
   </div>
</div>

<div class="white-tab">
    <h1>Barna- og Unglingabækur (spurning: hægt að klikka á flokka?)</h1>
    <div class="book-showbox-wrapper">
        @foreach (var book in ViewBag.a) 
        {
            <div class="book-showbox">
                <div class="book-showbox-image">
                    <a asp-controller="Book" asp-action="Details" asp-route-id="@book.Id">
                        <img src="@book.Image" alt="@book.Title">
                    </a>
                </div>
                <div class="book-showbox-info">
                    <a asp-controller="Book" asp-action="Details" asp-route-id="@book.Id">
                        <h1>@book.Title</h1>
                    </a>
                    <p>@book.Price kr.</p>
                </div>
                <div class="book-showbox-aciton">
                    <a class="btn btn-success" id="cartButton" asp-controller="ShoppingCart" asp-action="AddToShoppingCart" asp-route-bookid="@book.Id">
                        Add to cart
                    </a>
                </div>
            </div>
        }
    </div>
</div>
<div class="white-tab">
    <h1>Erlendar skáldsögur</h1>
    <div class="book-showbox-wrapper">
        @foreach (var book in ViewBag.b) 
        {
            <div class="book-showbox">
                <div class="book-showbox-image">
                    <a asp-controller="Book" asp-action="Details" asp-route-id="@book.Id">
                        <img src="@book.Image" alt="@book.Title">
                    </a>
                </div>
                <div class="book-showbox-info">
                    <a asp-controller="Book" asp-action="Details" asp-route-id="@book.Id">
                        <h1>@book.Title</h1>
                    </a>
                    <p>@book.Price kr.</p>
                </div>
                <div class="book-showbox-aciton">
                    <form asp-controller="ShoppingCart" asp-action="Index" asp-route-id="@book.Id" class="detail-buy">
                        <input type="submit" class="btn btn-primary" value="Bæta í Körfu" />
                    </form>
                </div>
            </div>
        }
    </div>
</div>
<div class="white-tab">
    <h1>Íslenskar skáldsögur</h1>
    <div class="book-showbox-wrapper">
        @foreach (var book in ViewBag.c) 
        {
            <div class="book-showbox">
                <div class="book-showbox-image">
                    <a asp-controller="Book" asp-action="Details" asp-route-id="@book.Id">
                        <img src="@book.Image" alt="@book.Title">
                    </a>
                </div>
                <div class="book-showbox-info">
                    <a asp-controller="Book" asp-action="Details" asp-route-id="@book.Id">
                        <h1>@book.Title</h1>
                    </a>
                    <p>@book.Price kr.</p>
                </div>
                <div class="book-showbox-aciton">
                    <form asp-controller="ShoppingCart" asp-action="Index" asp-route-id="@book.Id" class="detail-buy">
                        <input type="submit" class="btn btn-primary" value="Bæta í Körfu" />
                    </form>
                </div>
            </div>
        }
    </div>
</div>
<div class="white-tab">
    <h1>Matreiðslubækur</h1>
    <div class="book-showbox-wrapper">
        @foreach (var book in ViewBag.d) 
        {
            <div class="book-showbox">
                <div class="book-showbox-image">
                    <a asp-controller="Book" asp-action="Details" asp-route-id="@book.Id">
                        <img src="@book.Image" alt="@book.Title">
                    </a>
                </div>
                <div class="book-showbox-info">
                    <a asp-controller="Book" asp-action="Details" asp-route-id="@book.Id">
                        <h1>@book.Title</h1>
                    </a>
                    <p>@book.Price kr.</p>
                </div>
                <div class="book-showbox-aciton">
                    <form asp-controller="ShoppingCart" asp-action="Index" asp-route-id="@book.Id" class="detail-buy">
                        <input type="submit" class="btn btn-primary" value="Bæta í Körfu" />
                    </form>
                </div>
            </div>
        }
    </div>
</div>
<div class="white-tab">
    <h1>Ævisögur</h1>
    <div class="book-showbox-wrapper">
        @foreach (var book in ViewBag.e) 
        {
            <div class="book-showbox">
                <div class="book-showbox-image">
                    <a asp-controller="Book" asp-action="Details" asp-route-id="@book.Id">
                        <img src="@book.Image" alt="@book.Title">
                    </a>
                </div>
                <div class="book-showbox-info">
                    <a asp-controller="Book" asp-action="Details" asp-route-id="@book.Id">
                        <h1>@book.Title</h1>
                    </a>
                    <p>@book.Price kr.</p>
                </div>
                <div class="book-showbox-aciton">
                    <form asp-controller="ShoppingCart" asp-action="Index" asp-route-id="@book.Id" class="detail-buy">
                        <input type="submit" class="btn btn-primary" value="Bæta í Körfu" />
                    </form>
                </div>
            </div>
        }
    </div>
</div>
<div class="white-tab">
    <h1>Spennusögur</h1>
    <div class="book-showbox-wrapper">
        @foreach (var book in ViewBag.f) 
        {
            <div class="book-showbox">
                <div class="book-showbox-image">
                    <a asp-controller="Book" asp-action="Details" asp-route-id="@book.Id">
                        <img src="@book.Image" alt="@book.Title">
                    </a>
                </div>
                <div class="book-showbox-info">
                    <a asp-controller="Book" asp-action="Details" asp-route-id="@book.Id">
                        <h1>@book.Title</h1>
                    </a>
                    <p>@book.Price kr.</p>    
                </div>
                <div class="book-showbox-aciton">
                    <form asp-controller="ShoppingCart" asp-action="Index" asp-route-id="@book.Id" class="detail-buy">
                        <input type="submit" class="btn btn-primary" value="Bæta í Körfu" />
                    </form>
                </div>
            </div>
        }
    </div>
</div>