@model List<The_Book_Cave.Models.ViewModels.BookListViewModel>

<h3 id="category-name">@ViewBag.Category.Name </h3>
<div class="book-items">
    @foreach(var book in Model)
    {
         <div class="BooksByOrder book-item-thumb">
            <div class="book-item-image">
                <a asp-controller="Book" asp-action="Details" asp-route-id="@book.Id" >
                    <img src="@book.Image" alt="~/images/250x250image.png">
                </a>
            </div>
            <div class="book-item-info">
                <h3>
                    <a asp-controller="Book" asp-action="Details" asp-route-id="@book.Id"><span style="font-weight:bold">@book.Title</span></a>
                </h3>
                <p>@book.Price kr.</p>
            </div>
              <div id="pay-button" class="book-showbox-aciton">
                    <div onclick="itemadded(@book.Id)"  id="div-onclick">
                        @Html.ActionLink("Bæta í körfu", "AddToCart",
                        "ShoppingCart", 
                        new { bookId = @book.Id }, 
                        new { @class = "addToCart btn btn-danger addcart"})
                </div>
                </div>
        </div>
    }
</div>