@model The_Book_Cave.Models.ViewModels.BookListViewModel

<div class="detail-body">
    <div class="detail-header">
        <p>Hingað koma einhverjar djússí upplýsingar eins og allir bókaflokkarnir sem þessi bók er í og hlekkir á þær síður
        </p>
    </div>
    <div class="detail-main">
        <div class="detail-image">
            <img src="@Model.Image" alt="@Model.Title">
        </div>
        <div class="detail-info">
            <h1>@Model.Title</h1>
            <p>Höfundur:<a asp-controller="Author" asp-action="Details" asp-route-id="@Model.AuthorId" >@Model.Author</p></a>
            </br>
            <p>@Model.Summary</p>
            </br>
            </br>
            <p>Flokkur:<a asp-controller="Category" asp-action="Details" asp-route-id="@Model.CategoryId">@Model.Category</a></p>
        </div>
    </div>
    <div class="detail-aside">
        <div class="detail-price">
            <h2>@Model.Price kr. </h2>
        </div>
        <div class="detail-ship">
            <p>FRÍ HEIMSENDING UM ALLAN HEIM!</p>
        </div>
        <form asp-controller="ShoppingCart" asp-action="Index" asp-route-id="@Model.Id" class="detail-buy">
            <input type="submit" class="btn btn-primary" value="Bæta í Körfu" />
        </form>
    </div>
    <div class="detail-more" id="detail-prodinfo">
        <div class="detail-prodinfo">
            <h2>Upplýsingar um vöru</h2>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                        <label for="isbnNumber">ISBN</label>
                        <Span id="isbNumber">@Model.ISBN</Span>
                </li>
                <li class="list-group-item">
                    <label for="language">Tungumál</label>
                    <span id="language">@Model.Language</span>
                </li>
                <li class="list-group-item">
                    <label for="numberOfPages">Blaðsíðufjöldi</label>
                    <span id="numberOfPages">@Model.Pages</span>
                </li>
                <li class="list-group-item">
                    <label for="publication">Útgáfuár</label>
                    <span id="publication">@Model.PublicationYear</span>
                </li>
                <li class="list-group-item">
                    <label for="publisher">Útgefandi</label>
                    <span id="publisher">@Model.Publisher</span>
                </li>
                <li class="list-group-item">
                    <label for="type">Gerð</label>
                    <span id="type">@Model.Type</span>
                </li>
            </ul>
        </div>
    </div>
</div>