@model The_Book_Cave.Models.ViewModels.BookListViewModel

<div class="bookContainer">
    <p><img src="@Model.Image"></p>
    <p>Title: @Model.Title</p>
    <p>Publisher: @Model.Publisher</p>
    <p>PublicationYear: @Model.PublicationYear</p>
    <p>Price: @Model.Price</p>
    <p>Rating: @Model.Rating</p>
    <p>Summary: @Model.Summary</p>
    <p>Review: @Model.Review</p>
</div>